.menu-section {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #deac76;
}

.menu-title {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
    color: #deac76;
    margin-bottom: 10px;
}

.menu-links {
    display: inline-flex;
    align-items: center;
}

.menu-item {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.menu-item:hover {
    text-decoration: underline;
}

.separator {
    font-size: 20px;
    color: #000;
    margin: 0 10px;
}

.action-section {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.action-button {
    background-color: #deac76;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #572a7a;
}

.bakery-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.images-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.bakery-image {
    width: 48%;
    height: auto;
    margin-right: 4%;
    border-radius: 5px;
}

.bakery-image:last-child {
    margin-right: 0;
}

.info-container {
    flex: 1.4;
}

h2 {
    color: #deac76;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.product-section {
    padding: 40px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.view-more-button {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #deac76;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more-button:hover {
    background-color: #572a7a;
}

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-image {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border: none;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

.product-image:hover {
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.product-name {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.about {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.about-title {
    font-size: 50px;
    color: #deac76;
    margin-bottom: 15px;
    font-family: Qwitcher Grypen, cursive;
}

.about-description {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.coffee-tasting {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 20px auto;
    position: relative;
}

.tasting-image {
    flex: 1;
    position: relative;
}

.tasting-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-20px);
}

.tasting-content {
    flex: 1;
    padding-left: 20px;
}

.tasting-title {
    font-size: 28px;
    color: #deac76;
    margin-bottom: 15px;
}

.tasting-description,
.tasting-call-to-action {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
